<!DOCTYPE html>
<html>
<head>
  <title>RailsHash</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<script src="http://vk.com/js/api/xd_connection.js?2"  type="text/javascript">
</script>
<script type="text/javascript">
    VK.init(
      function() { 
        display_name();
        create_hashtag_top();    
      }, function() {}, '5.0');     

  function display_name() {
    VK.api("users.get", {fields:"first_name, last_name", test_mode:"1"}, function(data) { 
        var first_name = document.getElementById('response');
        first_name.textContent = "Привет, "+data.response[0].first_name + ', '+ data.response[0].last_name;
    });

</script>

<body>

<%= yield %>

</body>
</html>
